*.zwc
.*.sw[op]
.*.un~
.var/zsh/history-*
config/configstore
config/direnv
config/dotenv/allow
config/google-chrome
config/htop
config/hub
config/keybase
config/yarn
vim/.netrwhist
zsh/.zcalc_history
zsh/.zcompdump
zsh/zshrc.local
